@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Raamatud";
}
<!--На странице Index, я перевёл всё на эстонский язык а так же добавил картинку и изменил её размеры.  -->
<h2>Raamatud</h2>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Andmed", "Details", new { id=item.ID }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<img src="~/Images/reading-1140x515.jpg" height="550"  width="1140" />
